@charset "utf-8";
@import url(./fonts.css);
@import url(./reset.css);
@import url(./variables.css);

body {
    background: var(--basicBG);
    font-size: var(--basicFS);
}

h1 {
    font-family: Imperial;    
    font-size: 2em;
}